/*Estilos da página index.html*/
.center {
    text-align: center;
} 

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline; /*deixar menu horizontal*/
    padding: 15px;   /*redimensionar borda*/
}

#menu li a {
    text-decoration: none; /*retirar barra linha menu*/
    color:black;
    font-size: 20px;
}


#menu li a:hover {
    color:gray; /*quando meu mouse estuver em cima do link, a cor vai ser "grey*/
}

.p30 {
    padding: 30px; /*seletor global pra falar que padding tem 30px "borda texto */
}

.br-50 {
    border-radius: 50%; /*alterar imagem para redonda*/
}

/*.wh{
    width: 500px;
    height:500px; Caso eu queira imagem quadrada*/


.wh300 {
    padding: 30px;
}   

.tm-social {
    width: 50px;
    height: 50px;
    padding: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*Estilos da página index.html*/
.center {
    text-align: center;    
}

.ml-50 {
    margin-left: 50px;
}